---
import { Image } from 'astro:assets';
import { Tabs, TabItem } from '@astrojs/starlight/components';

type Covers = {
    title: string;
    altText: string;
    imagePath: ImageMetadata;
}

interface Props {
    content: string;
    images: Covers[];
    srcUrl: ImageMetadata;
    alt: string;
    key: string;
}

const {
    content,
    images = [],
    srcUrl,
    alt
}: Props = Astro.props
---

<div class="border">
    <span class="paragraph">
        {content}
    </span>
    {
        srcUrl != null ?
        <Image 
        src={srcUrl}
        alt={alt}
        class="cover"
        />
        :
        <Tabs>
            {images.map(({title, altText, imagePath}) => (
                <TabItem label={title}>
                    <Image 
                        src={imagePath}
                        alt={altText}
                        class="cover"
                        />
                </TabItem>
            ))}
        </Tabs>
    }
</div>

<style>

    .paragraph{
        margin: 1rem;
    }

    .cover{
        object-fit: cover;
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .border{
        display: flex;
        flex-direction: column-reverse;
    }

    @media (min-width: 50rem) {
        .border{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
            border-radius: 0.5rem;
            padding: 2rem;
            position: relative;
        }
    }

    
</style>